<form action="/submittodoitem" method="POST">
    <label for="itemName">Item Name:</label>
    <input type="text" id="itemName" name="itemName" required><br><br>

    <label for="itemDescription">Item Description:</label>
    <input type="text" id="itemDescription" name="itemDescription" required><br><br>

    <!-- New Fields -->
    <label for="itemId">Item ID:</label>
    <input type="text" id="itemId" name="itemId" value="{{ itemId }}" readonly><br><br>

    <button type="submit">Submit</button>
</form>